 <!-- Início do header -->
 <header class="main-header">
  <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.png" class="img-fluid" width="60" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Meu site</a>
        <a class="nav-item nav-link" [routerLink]= "['/menu']">Habilidades técnicas</a>
        <a class="nav-item nav-link" [routerLink]= "['/about']">Experiências profissionais e acadêmicas</a>
      </div>
    </div>
  </nav>
</header>
<!-- Fim do header -->