
<!-- Início do conteúdo -->
<div class="content-wrapper">
  <div class="container">

    <section class="content-header">
    </section>
    
    <section class="content">
      <div class="jumbotron welcome-jumbotron">
        <h1>Habilidades técnicas</h1>
        <p>
          Programação em css intermediário.
          Programação em HTML intermediário.
          Programação em Java intermediário.
          Tentando aprender Angular.
        </p>
        <p>
          SQL intermediário.
          Rede intermediário.
        </p>
      </div>
    </section>

  </div>
</div>
<!-- Fim do conteúdo -->
